
<main>
  <h1>FIND THE PUP FOR YOUR PERSONALITY!</h1>
  <div class="container">
    <div class="col s6 image">
      <img src="/assets/img/dogs14.png" alt="Dog" class=".img-fluid. max-width: 100%; height: auto;">
    </div>
    <div id="quiz">
      <div class="col-sm" id={{id}}>
        <h3>{{question}}:</h3>
        <button type="submit" onclick="answerQ({{json this}})" id = {{optionA.keys}}>A: <p>{{optionA.name}}</p></button>
        <button type="submit" onclick="answerQ({{json this}})" id = {{optionB.keys}}>B: <p>{{optionB.name}}</p></button>
        <button type="submit" onclick="answerQ({{json this}})" id = {{optionC.keys}}>C: <p>{{optionC.name}}</p></button>
      </div>
    </div>
  </div>
</main>


{{!-- 1. dog image changes when next question changes -copyright questions? google images. Change to calling free api of dog images?
 2. dog image fills the container/its a container around a container?
3. put a dog wallpaper-like image on the background of the site? --}}




































  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="div">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>


  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="div">
      <div class="col-md-6 col-md-offset-3">
        <h2>Login div</h2>
        <div class="login">
          <div class="div-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="div-control" id="email-input" placeholder="Email">
          </div>
          <div class="div-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="div-control" id="password-input" placeholder="Password">
          </div>
          <button type="submit" onclick="answerQ({{json this}})" class="btn btn-default">Login</button>
        </div>
        <br />
        <p>Or sign up <a href="/">here</a></p>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/login.js"></script>