   <header>

    <!-- Start sticky Navbar -->

    <nav class="navbar sticky-top navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand">
              <p>Welcome <span class="member-name"></span></p>
            </a>
            <form class="d-flex">
             <a class="navbar-brand" href="/logout"><p>Logout</p></a>
            </form>
        </div>    
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script type="text/javascript" src="assets/js/login.js"></script>
    </nav>  
    </header>
  

<main>
  <br>
  <h1>FIND THE PUP FOR YOUR PERSONALITY!</h1>
  {{!-- 1. dog image changes when next question changes -copyright questions? google images. Change to calling free api of dog images?
        2. dog image fills the container/its a container around a container?
        3. put a dog wallpaper-like image on the background of the site? --}}
  <div class="container">
    <div class="col s6 image">
      <img src={{picUrl}} alt="Dog" class=".img-fluid. max-width: 100%; height: auto; dogPic">
    </div>
    <br>
    <div id="quiz">
      <div class="col-sm" id={{id}}>
        <h5>{{question}}</h5>
         <br>
        <button class="btn btn-outline-warning option" type="submit" onclick="answerQ({{json this.optionA}})" id = {{optionA.keys}}><p>A: {{optionA.name}}</p></button>
        <br>
        <button class="btn btn-outline-warning option" type="submit" onclick="answerQ({{json this.optionB}})" id = {{optionB.keys}}><p>B: {{optionB.name}}</p></button>
         <br>
        <button class="btn btn-outline-warning option" type="submit" onclick="answerQ({{json this.optionC}})" id = {{optionC.keys}}><p>C: {{optionC.name}}</p></button>
         <br>
         <br>
         <br>
      </div>
    </div>
  </div>
</main>

{{!-- 1. dog image changes when next question changes -copyright questions? google images. Change to calling free api of dog images?
 2. dog image fills the container/its a container around a container?
3. put a dog wallpaper-like image on the background of the site? --}}

