    <header>

    <!-- Start sticky Navbar -->

    <nav class="navbar sticky-top navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand">
              <p>Congratulations <span class="member-name"></span> you've found your matches!</p>
            </a>
            <form class="d-flex">
             <a class="navbar-brand" href="/logout"><p>Logout</p></a>
            </form>
        </div>    
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script type="text/javascript" src="assets/js/login.js"></script>
    </nav>  
    </header>
  
<main>
  <br>

  {{!-- Matches container hidden until the user signs up --}}
  <div class="card sm-6 card mt-5">
  <div class="card-header"><span class="member-name"></span></p>'s Match Results</div>
      <div class="card-body">
      
      <!-- Matches --> 
      <div class="row">
          <div class="col match">
              <!-- Match 1 -->
              <a class="col s3" href="https://www.akc.org/dog-breeds/{{breed}}/">Further Information on {{breed}}</a>
              <a class="col s3" href="https://www.petfinder.com/search/dogs-for-adoption/us/pa/19143/?breed%5B0%5D={{breed}}">Find Adoptable {{breed}}s</a>
              <img src={{breed}} alt="Dog Breed Result" class=".img-fluid. max-width: 100%; height: auto;">
          </div>
          </div>  
          <div class="col match">
              <!-- Match 2 -->
              <a class="col s3" href="https://www.akc.org/dog-breeds/{{breed}}/">Further Information on {{breed}}</a>
              <a class="col s3" href="https://www.petfinder.com/search/dogs-for-adoption/us/pa/19143/?breed%5B0%5D={{breed}}">Find Adoptable {{breed}}s</a>
              <img src={{breed}} alt="Dog Breed Result" class=".img-fluid. max-width: 100%; height: auto;">
          </div>
      </div>  
      <div class="col match">
              <!-- Match 3 -->
              <a class="col s3" href="https://www.akc.org/dog-breeds/{{breed}}/">Further Information on {{breed}}</a>
              <a class="col s3" href= "https://www.petfinder.com/search/dogs-for-adoption/us/pa/19143/?breed%5B0%5D={{breed}}">Find Adoptable {{breed}}'s</a>
              <img src={{breed}} alt="Dog Breed Result" class=".img-fluid. max-width: 100%; height: auto;">
      </div>
      </div>  
  </div>
</main>

{{!-- 1. how to connect the api for the correct dog breed? update SRC
2. how to connect the right breed with the right href link to the AKC website? Or add our own info...
3. connect the breed chosen "further info on..." and "find adoptable..
4. connect the adoptable pets... --}}
